<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Biblioteca - Registro</title>
</head>

<body>
    <div id="wrapper">
        <img src="midia/icon-login.png" alt="star">
        <h2>Bem-vindo(a) à nossa biblioteca!</h2>
        <h3>Faça seu registro.</h3>
        <div id="form">
            <form action="/registro" method="post">
                <label for="nome">Insira seu nome:</label>
                <input type="text" name="nome" id="nome" class="form"><br>
                <label for="email">Insira seu e-mail:</label>
                <input type="email" name="email" id="email" class="form"><br>
                <label for="senha">Insira sua senha:</label>
                <input type="password" name="senha" id="senha" class="form"><br>
                <button type="submit" name="submit" class="btn">Registrar</button>
            </form>
        </div>
    </div>
</body>

</html>