@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,200;1,300&display=swap');
@font-face {
   font-family: Quaaykop;
   src: url(../fonts/Quaaykop\ Medium.otf);
}

body {
    background: rgb(140,248,245);
    background: radial-gradient(circle, rgba(140,248,245,1) 0%, rgba(113,95,255,1) 35%, rgba(49,58,230,1) 100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
  width: 70%;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  display: block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.09);
}

img {
    width: 15%;
    height: 15%;
}

h2 {
    font-family: 'Quaaykop', serif;
    text-align: center;
    font-size: 300%;
    color: white;
    text-shadow: 0 4px 30px #9ff5ebd8;
}

h3 {
    font-family: 'Trirong', serif;
    text-align: center;
    font-size: 200%;
    color: white;
    text-shadow: 0 4px 30px #9ff5ebd8;
}

a {
    font-family: 'Trirong', serif;
    font-style: italic;
}

#form {
    font-family: 'Trirong', serif;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
    display:block;
    color: white;
    text-shadow: 0 4px 20px #83f8f2d8;
}

.form {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #7e6efaad;
    border-radius: 16px;
    text-align: left;
    color: rgb(51, 51, 51);
}

.btn {
    margin-top: 3%;
    text-align: center;
    background-color: #313ae6;
    width: 30%;
    padding: 12px 20px;
    border-radius: 16px;
    color: white;
}

.btnUser {
    margin: 3% 0;
    text-align: center;
    background-color: #313ae6;
    width: 30%;
    padding: 5px 15px;
    border-radius: 16px;
    color: white;
}

.busca {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #7e6efaad;
    border-radius: 16px;
    text-align: left;
    color: rgb(51, 51, 51);
}

#menu {
    display: inline;
    width: 100%;
}

#livros {
    width: 90%;
    margin: 3% 5% 5%;
    font-family: 'Trirong', serif;
    color: white;
}

#livros th{
    font-weight: bold;
}

#livros th, td {
    border-bottom: 1px solid #646be9;
}

.option {
    margin: 1% 0%;
    background-color: #464ee6;
    width: 35%;
    padding: 5px 15px;
    border-radius: 16px;
    color: white;
}